{
    "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
    "plugins": ["react", "prettier"],
    "rules": {
      "prettier/prettier": "error",
      "react/jsx-uses-react": "off",
      "react/react-in-jsx-scope": "off"
    },
    "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    }
  }
  